{% load static %}
<html>
    <head>
        <title>Transportation</title>

    </head>
    <body>
      <script src = "{% static 'assets/js/translate/translate.js'%}"></script>
            <script src = "{% static 'assets/js/translate/translate2.js'%}"></script>
            <div id="translation" style = "float: left;"></div>
        <h1>Transportation Services</h1>
        <div class="list">
            <img src="" alt="Avatar" style="width:90px">
            <p><span>Bank 1</span>Main Branch </p>
            <p>address</p>
          </div>
          
          <div class="list">
            <img src="" alt="Avatar" style="width:90px">
            <p><span></span></p>
            <p></p>
          </div>
    </body>
</html>